#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button
	{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu:after, #cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#cssmenu #menu-button {
	display: none;
}

#cssmenu {
	width: 100%;
	height: 45px !important; 
	border-radius: 5px;
	border: 1px solid #0000a0;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1;
	background: #bfdba7;
	background: -webkit-linear-gradient(bottom, #000D4A, #0884EF);
	background: -ms-linear-gradient(bottom, #000D4A, #0884EF);
	background: -moz-linear-gradient(bottom, #000D4A, #0884EF);
	background: -o-linear-gradient(bottom, #000D4A, #0884EF);
	background: linear-gradient(to top, #000D4A, #0884EF);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -2px 0px #02097B, inset 0 1px 0 #5FB5FF;
}

#cssmenu>ul>li {
	float: left;
}

#cssmenu.align-center>ul {
	font-size: 0;
	text-align: center;
}

#cssmenu.align-center>ul>li {
	display: inline-block;
	float: none;
}

#cssmenu.align-right>ul>li {
	float: right;
}

#cssmenu>ul>li>a {
	padding: 14px 25px 21px 25px;
	font-size: 14px;
	text-decoration: none;
	color: #fcfefb;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	font-family: sans-serif !important;
}

#cssmenu>ul>li:first-child>a {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#cssmenu.align-center>ul>li:first-child>a {
	border-radius: 0;
}

#cssmen.align-right>ul>li:first-child>a {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#cssmenu>ul>li:hover>a, #cssmenu>ul>li.active>a {
	color: #d7d700;
}

#cssmenu>ul>li:hover>a, #cssmenu>ul>li>a:hover {
	background: rgba(125, 125, 125, 0.04);
}

#cssmenu>ul>li:after {
	content: '';
	position: absolute;
	top: 18px;
	right: 0;
	display: block;
	height: 20px;
	width: 1px;
	opacity: .15;
	background: rgba(0, 0, 0, 0.7);
	background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000,
		rgba(0, 0, 0, 0));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000,
		rgba(0, 0, 0, 0));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #000000,
		rgba(0, 0, 0, 0));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000,
		rgba(0, 0, 0, 0));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000,
		rgba(0, 0, 0, 0));
}

#cssmenu.align-right>ul>li:after {
	right: auto;
	left: -1px;
}

#cssmenu>ul>li:before {
	content: '';
	position: absolute;
	top: 18px;
	right: -1px;
	display: block;
	height: 20px;
	width: 1px;
	opacity: .35;
	background: rgba(255, 255, 255, 0.8);
	background: linear-gradient(to top, rgba(0, 0, 0, 0), #ffffff,
		rgba(0, 0, 0, 0));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #ffffff,
		rgba(0, 0, 0, 0));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #ffffff,
		rgba(0, 0, 0, 0));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.01), #ffffff,
		rgba(255, 255, 255, 0.01));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #ffffff,
		rgba(0, 0, 0, 0));
}

#cssmenu.align-right>ul>li:before {
	right: auto;
	left: 0px;
}

#cssmenu>ul>li:last-child:after, #cssmenu>ul>li:last-child:before {
	display: none;
}

#cssmenu.small-screen {
	width: 100%;
}

#cssmenu.small-screen>ul, #cssmenu.small-screen.align-center>ul {
	width: 100%;
	text-align: left;
}

#cssmenu.small-screen>ul>li, #cssmenu.small-screen.align-center {
	float: none;
	display: block;
	border-top: 1px solid rgba(100, 100, 100, 0.1);
}

#cssmenu.small-screen>ul>li>a {
	padding: 18px 25px;
}

#cssmenu.small-screen>ul>li:after, #cssmenu.small-screen>ul>li:before {
	display: none;
}

#cssmenu.small-screen #menu-button {
	display: block;
	padding: 18px 25px 19px 25px;
	cursor: pointer;
	font-size: 15px;
	text-decoration: none;
	color: #fcfefb;
}

#cssmenu.small-screen #menu-button.menu-opened {
	color: #444444;
}

#cssmenu.small-screen #menu-button:after {
	content: "";
	position: absolute;
	right: 25px;
	top: 20px;
	display: block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-top: 2px solid #fcfefb;
	border-bottom: 2px solid #fcfefb;
	width: 18px;
	height: 3px;
}

#cssmenu.small-screen #menu-button.menu-opened:after {
	border-top: 2px solid #444444;
	border-bottom: 2px solid #444444;
}

#cssmenu.small-screen #menu-button:before {
	content: "";
	position: absolute;
	right: 25px;
	top: 30px;
	display: block;
	width: 18px;
	height: 2px;
	background: #fcfefb;
}

#cssmenu.small-screen #menu-button.menu-opened:before {
	background: #444444;
}

#cssmenu  a {
	float: left;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 0.7em 1.6em 0.7em 1.6em;
	border-width: 0px;
	border-left: 1px;
	text-decoration: none;
	color: #333;
	border-color: #666;
}

#cssmenu ul li ul a{
	font-weight: bold;
	margin-top: 5px;
	font-family: sans-serif !important;
	
}

#cssmenu ul li ul {
	position: absolute;
	display: none !important;
	z-index: 99;
	padding:0.7em 1.6em 0.7em 1.6em;
		
	border: 1px solid #5b5c66;
	box-shadow:3px 3px 2px #333 !important;
	
	
	background: #808080;
	background: #808080;
	background: -webkit-linear-gradient(bottom, #969393, #F6F7F5);
	background: -ms-linear-gradient(bottom, #969393, #F6F7F5);
	background: -moz-linear-gradient(bottom, #969393, #F6F7F5);
	background: -o-linear-gradient(bottom, #969393, #F6F7F5);
	background: linear-gradient(to top, #969393, #F6F7F5);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -2px 0px #619832,
		inset 0 1px 0 #d4e7c4;
	top: 30px;
}

#cssmenu ul > li:hover > ul {
	display:block !important;
	color: #ffff80;
}

.menu{
	float: left;
}

#submenu  li a:hover {
	color: #ffff80;
}

#submenu {
	padding: 10px !important;
	margin-top: 14px !important;
	width: 134px !important;
}

#submenuUsuario {
	padding: 10px !important;
	margin-top: 14px !important;
	margin-right: 20px !important;
	width: 120px !important;
	z-index: 99;
}

#menUsuario {
	font-family: "Verdana", Arial, Helvetica, sans-serif !important;
	font-size: 14px;
}

#usuarioLogado{
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 15px;
}

#icon_user {
	background: url("/ficha-financeira/imagens/user_preto.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	margin-right: 10px;
}



#cadastrosMenu{
	font-size: 12px !important;
	font-weight: bold !important;
}
	


