html{
	height: 100%;
	
}


body{
	height: 100%;
	margin: 0 auto;
	font-family: "Verdana", Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	background-image: url(/goldasorte/imagem/teste.jpg);
	background-attachment:fixed;
}

fieldset{
	border: 1px solid #C4C0B9;
}

legend{
	font-size: 11px !important; 
	font-weight: bold;
	height: 16px;
	color: #4F4F4F;
}

#pagina{
	min-width: 90%;
	position:relative;
	padding: 0% 5% 0% 5%;
	min-height: 100%;
}

#geral{
	left: 0px;
	width:100%;
	clear: both;
}

#rodape{
	
	position: absolute;
	width: 100%;
	bottom: 0px;
	color: #6b6b6b;
	font-weight: normal;
	line-height: 20px !important;
	text-align: center !important;
	margin: 0;
	padding: 0;
}
.faixa {
	padding: 6px 0;
	border-top: 1px solid #cccccc;
	background: #ebebeb;
	bottom: 0px;
	
	
	
}


.textoPequeno{
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px !important;
	font-weight: bold !important;
	color: #5c5c5c !important;
}

.textoSessaoExpira{
 color: #b94a48;
 font-family: Arial, Verdana, sans-serif;
 font-size: 12px;
 font-weight: bold;
}

.textoSessaoExpiraN{
 color: #b94a48;
 font-family: Arial, Verdana, sans-serif;
 font-size: 12px;
}

a {
	color: #0078D0;
	font-size: 11px;
}
a:hover {
	color: #0090FF;
}
a:visited {
	color: #0090FF;
}

.corpo{
	padding: 50px 0px 60px 0px;
	height: 100%;

}

.barra{
	height: 3px;
	margin: 0px 0px 0px 0px;
	border: none;
	background: #fff url(../imagem/bg_panel.gif) repeat-x center;
	background-size: 100%;
	z-index: -100;
}



.titulo{
	font-weight: bold;
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #5c5c5c;
}

.prefeitura{
	
	font-size: 15px;
	padding-top: 0px;
	margin-top: 6px;
	margin-left: 6px;
}

.footer{
	font-size: 10px;
	padding-top: 10px;
	padding: 6px 0;
	border-top: 1px solid #cccccc;
	background: #ebebeb;
	bottom: 0px;
}

label{
	font-size: 11px !important;
	margin-bottom: 2px;
	margin-top: 3px;
	float: left;
	}
	
button{
	font-size: 11px !important;
}

.tabela{
	font-size: 11px !important;
}
	
.outputTitulo{
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 3px;
	}
	
.labelAcima{
	width:50%;
	display:inline;
	float:left"
}
	
input, textarea{
	font-size: 12px !important;
	color: #3f3925 !important;	
	/*margin-bottom: 6px !important;*/
	}
	
.divOutput{
	text-align: right;
	float: left;
}
	
.divInput{
	margin-left: 15px;
	float:left;
}

/*Apenas no Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0){
	.inputText{
		margin-bottom: 3px;
	}
}

.centralizar{
	margin: 0 auto;
	width: 50px;
}

.semborda tr,
.semborda td {
    border: none !important;
    background: #e7e4e4;
}

.outputLabel{
	color: #000000;
}

.botoesFiltro span{
	font-size: 10px !important;
	margin: 0px !important;
}


.ui-selectmanycheckbox label, .ui-selectoneradio label {
  display: block;
  margin-top: 4px;
  padding-right: 30px !important;
  margin-right: 30px !important;
}

.margin-radio tbody tr td label {
	margin-right: 14px !important;
}

#crop {
	width: 400px !important;
	height: 400px !important;
	
}


.acessoSistema {
	color: #1464b4 !important;
	font-size: 20px !important;
	background-image: none !important;
	background-color: transparent !important;
	margin: 0;
	padding: 0 0 5px 0;
	border-radius: 0;
	border-bottom: solid 2px #ccc !important;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.acessoPonto {
	color: #008000!important;
	font-size: 20px !important;
	background-image: none !important;
	background-color: transparent !important;
	margin: 0;
	padding: 0 0 5px 0;
	border-radius: 0;
	border-bottom: solid 2px #ccc !important;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.divLogin {
	height:320 !important;
	width: 289 !important;
	margin: 0 auto !important;
}

.divPrimeiroAcesso{
	height:320 !important;
	width: 340 !important;
	margin: 0 auto !important;
	
}

.inputLogin{
	font-weight: bold !important;
	font-size: 18px !important;
	width: 273px !important;
	height: 40px !important;
	
}

.outputLogin{
	
	font-weight: 700 !important;
	font-size: 16px !important;
}

.botaoLogar{
	font-size: 16px !important
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
	margin-left: 5px !important;
}

.ui-button-text-icon-left {
	margin-left: 5px !important;
}

.btn-default{
	margin-left: 5px !important;
}

.ui-widget .ui-widget {
	margin-left: 5px !important;
}

.inputPesquisa{
	font-size: 18px !important;
	font-weight: bold;
	width: 400px !important;
	height: 40px !important;
}

.selectPesquisa{
	font-size: 18px !important;
	font-weight: bold;
	width: 400px !important;
	height: 40px !important;
	margin-left: 5px !important;
	margin-top:14px !important;
}

.botaoPesquisar{
	font-size: 14px !important;
	font-weight: bold !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	margin-left: 5px !important;
}





